.libs/
autom4te.cache/
build/
modules/

*.la
*.lo
*.o
*.dep

# 允许 xqkeji 扩展二进制文件
!php_xqkeji.dll
!xqkeji.so

Makefile
Makefile.fragments
Makefile.objects
config.h
config.h.in
config.h.in~
config.log
config.nice
config.status
configure
libtool
run-tests.php
