.libs/
autom4te.cache/
build/
modules/

*.la
*.lo
*.o
*.dep
*.so
*.dll

Makefile
Makefile.fragments
Makefile.objects
config.h
config.h.in
config.h.in~
config.log
config.nice
config.status
configure
libtool
run-tests.php
